<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">Send A Message</a>
    <div>
      <h2>Messages</h2>
      <div>
        <% messages.forEach((m) => { %>
        <div>
          <h3><%= m.user %></h3>
          <p><%= m.text %></p>
          <p><% m.added %></p>
        </div>
        <% }); %>
      </div>
    </div>
    
  </body>
</html>
